* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling für den Header */
header {
    background-color: #b8afaf;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.dropbtn {
    background-color: #918d90;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #494848;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 13px;
    text-align: left;
}

.dropdown-content li:hover {
    background-color: #b8afaf;
}

.pictureName {
    background-color: #b8afaf;
    display: flex;
    justify-content: space-evenly;  /*Gleichmäßiger Platz rechts und links von den divs*/
    align-items: center;    /*Die Items werden in der Höhe genau in der Mitte angeordnet*/
            /* padding: 50px;  Hier kann man den Abstand der Höhe zwischen den divs einstellen. In dem Fall den Abstand zwischen pictureName und dem header- Bereich*/
    padding-bottom: 50px;
}

.hpSmallFont{
    color: #646262;
    font-size: 25px;
}

.hpLargeFont{
    color: black;
    font-size: 30px;
}

.hpText{
    line-height:250%
}

.aboutMe {
    background-color:#8e8888;
    display: flex;
    height: 200px;
    align-items: left;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
}

.aboutMe > div:first-child p {
    font-size: 20px;
    font-weight: bold;
}

#aboutMeButton{
    text-align: center;
    border: 2px solid black;
    padding: 10px 24px;
    background-color:#b8afaf;
    font-family: "Lucida Console", "Courier New", monospace;
    margin-top: 25px;
}

#aboutMeButton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#firstHomePicture {
    width: 350px;
    border-radius: 50%;
    height: auto;
}
/* Responsive Design: Bei kleinen Bildschirmen werden die Divs untereinander angeordnet */
@media (max-width: 768px) {
    section {
        flex-direction: column;
    }
}